.cs-header {
    grid-column: 3 / 5;
    background-color: #090c9b;
    min-width: 475px;
    height:64px;
    border-radius: 72px;
    padding-left: 32px;
    padding-top: 32px;
    text-align: center;
    color: #FFE5D4;
        font-family: "big-caslon-fb", serif;
            font-style: normal;
            font-size: 32px;
    }

.case-study-layout {
    display: grid;
    margin: 0;
    margin-top: 32px;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:auto;
    column-gap: 16px;
    row-gap: 16px;
}
.cs-content-nav {
    background-color: #F93943;
    border-radius: 16px;
    padding: 16px;
    padding-top: 24px;
    
    grid-column: 4 / 5;
    grid-row: 2;
    display: none;
    z-index:99;
}


.subheading {
    color: #F93943;
    font-family: Poppins, ;
        font-style: normal;
        font-size: 24px;
}
.title {
    text-align: center;
    padding: 32px;
    z-index: 1;
}
.top {
    grid-column: 2 / 6;
    grid-row: 2;
}

.hero-p {
    grid-column: 2 / 6;
    object-fit:cover;
}
.intro {
    grid-column: 2 / 6;
    
}

.intro p {
    padding-bottom: 16px;
}

.research-1 {
    grid-column: 2 / 6;
    padding-bottom: 16px;
}

.research-2 {
    grid-column: 2 / 6;
    padding-bottom: 16px;
}

.research-3 {
    grid-column: 2 / 6;
    padding-bottom: 16px;
}

.design-1 {
    grid-column: 2 / 6;
    padding-bottom: 16px;
}

.design-2 {
    grid-column: 2 / 6;
    padding-bottom: 16px;
}

.design-3 {
    grid-column: 2 / 6;
    padding-bottom: 16px;
}


.ER-1 {
    grid-column: 2 / 6;
    padding-bottom: 16px;
}

.ER-2 {
    grid-column: 2 / 6;
    padding-bottom: 16px;
}

.ER-3 {
    grid-column: 2 / 6;
    padding-bottom: 16px;
}

.reflections-1 {
    grid-column: 2 / 6;
    
}
.reflections-2 {
    grid-column: 2 / 6;
    
}
.reflections-3 {
    grid-column: 2 / 6;
    padding-bottom: 72px;
}