

.top {
    grid-column: 2 / 6;
}

.hero-p {
    grid-column: 2 / 6;
    object-fit:cover;
}
.intro {
    grid-column: 2 / 6;
    
}

.intro p {
    padding-bottom: 16px;
}

.research-1 {
    grid-column: 2 / 6;
    padding-bottom: 16px;
}

.research-2 {
    grid-column: 2 / 6;
    padding-bottom: 16px;
}

.research-3 {
    grid-column: 2 / 6;
    padding-bottom: 16px;
}

.design-1 {
    grid-column: 2 / 6;
    padding-bottom: 16px;
}

.design-2 {
    grid-column: 2 / 6;
    padding-bottom: 16px;
}

.design-3 {
    grid-column: 2 / 6;
    padding-bottom: 16px;
}


.ER-1 {
    grid-column: 2 / 6;
    padding-bottom: 16px;
}

.ER-2 {
    grid-column: 2 / 6;
    padding-bottom: 16px;
}

.ER-3 {
    grid-column: 2 / 6;
    padding-bottom: 16px;
}

.reflections-1 {
    grid-column: 2 / 6;
    
}
.reflections-2 {
    grid-column: 2 / 6;
    
}
.reflections-3 {
    grid-column: 2 / 6;
    padding-bottom: 72px;
}

.cs-hero {
    height:50%;
}