/* Elements **/
h1 {
    margin:0;
    color: #FFE5D4;
    font-family: "big-caslon-fb", serif;
        font-style: normal;
        font-size: 32px;

}

h2 {
    margin:0;
    color: #090c9b;
    font-family: Poppins, sans-serif;
        font-style: normal;
        font-size: 32px;
}

h3 {
    margin:0;
    color: #090c9b;
    font-family: Poppins, sans-serif;
        font-style: normal;
        font-size: 24px;
}

p {
    margin:0;
    color: #090c9b;
    font-family: Poppins, sans-serif;
        font-style: normal;
        font-size: 16px;
}

.link {
    margin:0;
    color: #F93943;
    text-decoration: underline;
    font-family: Poppins, sans-serif;
        font-style:normal;
        font-size: 16px;
}

ul {
    color: #090c9b;
    font-family: Poppins, sans-serif;
        font-style: normal;
        font-size: 16px; 
}
li {
    color: #090c9b;
    font-family: Poppins, sans-serif;
        font-style: normal;
        font-size: 16px;
}
a {
    color: #090b9b;

}
img {
    width: 100%;
    object-fit:cover;
    box-sizing: border-box;
}
body {
    margin:0;
    margin-top: 32px;
    background-color: #FFE5D4;
    justify-self: center;
}

video {
    
    width: 100%;
    object-fit: cover;  
}


.button-icon {
    padding: none;
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
}

.material-symbols-outlined, i {
    font-size: 36px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 16px;
}



button {
    background-color: #090c9b;
    border-radius: 72px;
    color: #FFE5D4;
    align-self:self-start;
    padding: 8px;
    margin-top: 16px;
    width: 220px;
    grid-column-start: 2 ;
    grid-column-end: 7;
    font-family: Poppins, sans-serif;
        font-style: normal;
        font-size: 16px;
        text-align: center;
}


/* Header **/

header {
    background-color: #090c9b;
    min-width: 475px;
    height:64px;
    border-radius: 72px;
    padding-left: 48px;
    padding-right: 40px;
    padding-bottom: 24px;
    padding-top: 24px;
    grid-column: 2 / 6;
    text-align: center;
    color: #FFE5D4;
        font-family: "big-caslon-fb", serif;
            font-style: normal;
            font-size: 32px;
}

header, h1 {
    display:flex;
    font-size: 36px;
    align-self: center;
    justify-content: center;
}

.nav-icon {
    font-size: 48px;
    padding: 0;
    font-family: 'Material Symbols Outlined';
    font-weight:bold;
    font-style:normal;
    padding-left: 24px;
    height: 56px;
}

.content-nav {
    background-color: #F93943;
    border-radius: 16px;
    padding: 16px;
    top: 160px;
    left: calc(10% + 50%);
    width: 200px;
    height: 250px;
    position:absolute;
    /*grid-column: 4 / 6 ;*/
    justify-self: center;
    visibility: hidden; /* Start hidden */
    opacity: 0; /* Fully transparent */
    transform: translateY(-10px); /* Slight shift for smooth animation */
    transition: visibility 0.3s, opacity 0.3s, transform 0.3s; /* Smooth transition */
    z-index: 99; /* Ensure it's above other elements */

    
}


.content-nav, a{
    color: #FFE5D4;
    text-align: left;
    list-style: none;
    font-family: Poppins, sans-serif;
        font-style: normal;
    transition: 0.5s;
    text-decoration: none;
    font-size: 24px;

}

.content-nav.show {
    visibility: visible; /* Make it visible */
    opacity: 1; /* Fully opaque */
    transform: translateY(0); /* Reset transform */
    
}
/* Footer **/

footer {
    height: 146px;
    max-height: 146px; 
    margin-top: 72px;
    background-color:#090c9b;
    grid-column: 1 / 7;
    text-align: center;
    padding-top: 36px;
    
}

footer img {
    background-color:#090c9b;
    height: 64px;
    width: 64px;
    
}

footer p {
    color: #FFE5D4;
}

/* General Layouts **/
.page-layout{
    display: grid;
    margin: 0;
    margin-top: 32px;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:auto;
    column-gap: 16px;
    row-gap: 16px;
    
}

/* Home Page **/

.greeting {
    padding-top: 10vh;
    grid-column: 4 / 6;
    color: #090c9b;
    font-family: Poppins, sans-serif;
        font-style:oblique;
        font-size: 24px;
        align-self:center ;
}

.logo {
    padding-top: 10vh;
    grid-column: 2 / 4;
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-sizing: border-box;
}
.arrow{
    grid-column: 2 / 6;
    text-align: center;
    font-size: 36px;
    padding: 0%;
    padding-bottom: 12vh;
    padding-top: 12vh;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    color: #090c9b;

}

/* Projects*/
.title {
    z-index: 1;
    text-align: center;
    grid-column: 2 / 6;
    
    padding: 16px;
    color: #F93943;
    font-size: 48px;
    margin-top: 32px;
    border: 8pt solid #090b9b;
            border-radius: 20px;
            box-sizing: border-box;
            width: 100%;
}
/* Denver zoo */
.hero-img {
    grid-column: 2 / 6;
    object-fit:contain;
    height: 100%;
}

.dz {
    grid-column: 2 / 6;
}

.blurb {
    
    color:#090b9b;
}

.section-title {
    grid-column: 2 / 6;
    padding-top: 16px;
    padding-bottom: 16px;
    color:#f93943;
    align-self: center;
    justify-self: center;
    text-align: center;
    border: 8pt solid #090b9b;
            border-radius: 20px;
            box-sizing: border-box;
            width: 100%;
}

.project-title {
    text-align: left;
    padding-bottom: 16px;
    color:#f93943;

  }

  .feat-projects {
    
  }

@media only screen and (max-width:700px) {
    .page-layout{
        grid-template-columns:1fr 3fr 3fr 1fr;
        grid-auto-rows: auto;
        column-gap: 16px;
        row-gap: 16px;
    }
    
    h1 {
        font-size: 24px;
    }
    header {
        grid-area:  auto / 2 / auto / 4;
        min-width: 100px;
        text-align: center;
        border-radius: 48px;
        padding-left: 16px;
        padding-top: 16px;
        
    }
    footer {
        
        grid-column: 1 / 5;
    }

    /* Nav **/
    .material-symbols-outlined {
    
    
    }
    
    .material-symbols-outlined, i {
        font-size: 48px;
        padding-left: 8px;
        padding-right: 16px;
    }

    .content-nav {
        grid-area:  auto / 2 / auto / 4;
    }
    
    

    .greeting {
        grid-area:  auto / 2 / auto / 4;
        padding-top: 0vh;
        text-align: center;
    }
    
    .logo {
        grid-area:  auto / 2 / auto / 4;
        padding-top: 0;
    }
    .arrow{
        grid-area:  auto / 2 / auto / 4;
        align-self: center;
        justify-self: center;
        text-align: center;
        object-fit: cover;
        padding-right:0%;
        padding-top: 144px;
        padding-bottom: 24px;
        box-sizing: border-box;
        color: #090c9b;
    
      font-variation-settings:
      'FILL' 0,
      'wght' 100,
      'GRAD' 0,
      'opsz' 100;
    
    }

    .hero-img {
        grid-area:  auto / 2 / auto / 4;
        object-fit:contain;
        height: 100%;
    }
    
    .dz {
        grid-area:  auto / 2 / auto / 4;
        
    }
    
    .blurb {
        grid-area:  auto / 2 / auto / 4;
        color:#090b9b;
    }
    
    .section-title {
        grid-area:  auto / 2 / auto / 4;
        padding-top: 8px;
        padding-bottom: 8px;
        color:#f93943;
        align-self: center;
        justify-self: center;
        text-align: center;
        font-size: 16px;
        border: 8pt solid #090b9b;
                border-radius: 20px;
                box-sizing: border-box;
                width: 100%;
    }
    
}
