
/* ALL PAGES **/
    body {
        background-color: rgb(184, 216, 216);
        color: #0a415d;
        margin: 0;
        font-family: dashiell-fine, serif;
        font-style: normal;
        font-size: 20px;

        display: grid;
    }

    h1 {
        margin: 0;
        font-family: dashiell-fine, serif;
        font-style: normal;
        
    }

    h2 {
        margin: 0;
        font-family: dashiell-fine, serif;
        font-style: normal;
    }

    a {
        color: #0a415d;
    }
    a :hover {
        color: #7ac0e3;
    }
    img{
        width: 100%;
        }
    
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .logo {
        margin:0;
        background-color:#cf2636;
        color: #ecbab9;
        padding: 35px 20px;
        position: sticky;
        font-size: 250%;
        text-align: center;
    }
    /* SIDE NAV BAR**/
        
        .side-nav {
            grid-column-start: 1;
            grid-column-end: 1;
            justify-content: start;
            padding-top: 200px;
            font-size: 22px;
            text-align: left;
            position: fixed;
        }

        .side-nav img {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }

        .side-nav ul {
            list-style: none;
            
        }

        .side-nav a {
            color:#cf2636;
            text-decoration: none;
        }

        .side-nav :hover {
            color:#ecbab9;

        }

        @media only screen and (max-width:700px) {
            .side-nav-ontop {
                display: grid;

                 
            }

            .side-nav-ontop nav {
                grid-column-start: 2;
                grid-row-start: 1;
                padding-bottom: 50px;
            }

            .side-nav ul {
                list-style: none;
                padding-top: 50px;
            }

            .side-nav {
                display: grid;
                grid-column-start: 2;
                grid-column-end: 2;
                
                padding-top: 0;
                text-align: center;
                justify-content:center;
                position: relative;
                }
        }


/* HOME SCREEN**/
    
    .homescreen-colors {
        background-color: rbg(184, 216, 216);
        /*background-image: url(/img/Vector-2.jpg);**/
        color: #0a415d;
        background-size: 100px 82px;
    }
    .home-page-grid {
        display: grid;
        grid-template-columns: 5% 60% 30% 5%;
        grid-template-rows: 5% 65% 30%;
        padding-top: 25px;

    }

    .home-logo {
        margin:0;
        background-color:#0a415d;
        color: #ecbab9;
        padding: 35px 20px;
        position: sticky;
        font-size: 250%;
        text-align: center;
    }

    .home-img {
        grid-column-start: 2;
        grid-row-start: 2;
        justify-self: center;
        align-self: center;

    }

    .greeting {
        grid-row-start: 3;
        text-align: center;
        grid-column: 2 / span 2;
        font-size: 34px;
        padding-top: 40px;
    }

    .greeting a {
        color:#cf2636;
        text-decoration: underline;
    }

    .greeting a :hover {
        color:#ecbab9;
    }


    /* HOME SCREEN NAV **/
        .home-nav {
            grid-column-start: 3;
            grid-row-start: 2;
            justify-self: center;
            align-self: center;

            font-size: 26px;
            text-align: center;

        }

        .home-nav ul {
            list-style: none;
            
        }

        .home-nav a {
            color:#cf2636;
            text-decoration: none;
        }

        .home-nav :hover {
            color: #ecbab9;

        }

        @media only screen and (max-width:700px) {

            .home-page-grid {
    
                grid-template-rows: 5% auto auto auto 5%; 
                grid-template-columns: 5% 90% 5%;
                }
                .home-img {
                    grid-row-start: 2;
                    grid-column-start: 2;
                    padding: 20px;
                    width: 100%
                
                    
                  }
                .home-nav {
                    display: grid;
                    grid-row-start: 3;
                    grid-column-start: 2;
            
            }

            .greeting {
                grid-row-start: 4;
                text-align: center;
                grid-column: 2;
                font-size: 34px;
                padding-top: 20px;
            }
        
        }
    

/* ABOUT **/

    .about-grid {
        display: grid;
        grid-template-columns: 15% auto auto auto 5%;
        grid-template-rows: auto auto auto auto auto auto;
        padding-top: 50px;
    }

    .description {
        grid-column: 2 / span 3;
        grid-row-start: 1;
        padding-left: 50px;
        padding-top: 10px;
    }

    .col-1-pics {
        grid-column-start: 2 ;
        padding-top: 20px;
        float: left;
	    
        padding-left: 50px;
    }
    .description-2 {
        grid-column: 2 / span 3;
        grid-row-start: 3;
        padding-left: 50px;
        padding-top: 100px;
        
    }

    .col-2-pics {
        grid-column-start: 3;
        padding-top: 20px;
        
        float: left;
        padding-left: 50px;
    }

    .description-3 {
        grid-column: 2 / span 3;
        grid-row-start: 5;
        padding-left: 50px;
        padding-top: 100px;
    }

    .col-3-pics {
        grid-column-start: 4;
        padding-top: 20px;
        float: left;
        padding-left: 50px;
    }

    @media only screen and (max-width:700px) {
        .about-grid {
            display: grid;
            grid-template-rows: 15% 80% 5%;
            grid-template-columns: 5% 90% 5%;
            padding-top: 50px;
        }
        .description {
            padding-left: 0;
            padding-top: 150px;
            grid-column-start: 2;
            grid-row-start: 2;
            justify-items: center;

        }
    }


/* PROJECTS**/

    .projects-grid {
        display: grid;
        grid-template-columns: 15% 40% 40% 5%;
        grid-template-rows: auto auto auto;
        padding-top: 50px;
        
    }
    

    .image {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-column-end: 4;
        padding-left: 50px;

    }

    .image-content {
        grid-row-start: 1;
        grid-column-start: 2;
        justify-items: center;
        object-fit: cover;

        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        

    }

    .image-pictures {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 5px;
        grid-row-start: 1;
        justify-self: center;
        align-self: center;
    }

    .animation {
        grid-row-start: 2;
        padding-top: 300px;
    }

    .VR {
        padding-top: 50px;
        grid-row-start: 3;
    }

    .image-grid {
        width: 640px;
        text-align: center;
        padding-left: 30%;
    
      }
      .full-img {
        align-items: center;
        padding-bottom: 0;
        padding-left: 20%;
        padding-right: 20%;
      }
      
    
      
      .thumb-bar img {
        display: grid;
        width: 20%;
        float:left;
        cursor: pointer;

        padding-left: 0%;
        padding-top: 0%;

      }
      
      .text-class {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 4;
        padding-left: 50px;
        padding-top: 100px;
    }
    .text-content1 {
        grid-column-start: 2;
        
        width: 50%;
        padding-top: 10px;
        
        float: left;
	    
        
    }
    .text-content2 {
        grid-column-start: 3;
        grid-column-end: 4;
        padding-top: 20px;
        float: left;
    }

    .collapsible {
        background-color: #0a415d;
        color:#7ac0e3;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        grid-column: 2/4;
        font-family: dashiell-fine, serif;
        font-style: normal;
        max-width: 1000px;
      }
      
      .active, .collapsible:hover {
        background-color:#01293d;
      }
      
      .content {
        padding: 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
        grid-column: 2/4;
        padding-bottom: 18px;
        max-width: 964px;
      }

      .projectHeaders {
        grid-column-start: 2;
        padding-top: 20px;
        max-width: 1000px;

      }

    @media only screen and (max-width:700px) {
        .projects-grid {
    
            grid-template-rows: auto; 
            grid-template-columns: 5% 90% 5%;
            padding: 0;
            }
        
        .image {
            grid-row-start: 2;
            grid-column-start: 2;
            padding: 20px;
            width: 100%;
            }
        .collapsible {
            background-color: #0a415d;
            color:#7ac0e3;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            grid-column: 2;
            font-family: dashiell-fine, serif;
            font-style: normal;
            height: 51px;
            }
            .content {
                padding: 0 18px;
                display: none;
                overflow: hidden;
                background-color: #f1f1f1;
                grid-column: 2;
                padding-bottom: 18px;
              }
    }
    
/* ART **/

    .art-grid {
        display: grid;
        grid-template-columns: 15% 20% 20% 20% 20% 5%;
        grid-template-rows: auto auto auto auto ;
        padding-top: 50px;
    }

    .discription {
        grid-column-start: 2;
        grid-column-end: 5;
       padding-bottom: 20px;
        
    }
    .sketches {
        grid-column-start: 2;
        /*grid-column-end: 5;**/
        /*grid-row-start:2;**/
        

        object-fit: cover;

    }

   .row1 {
    /*grid-row-start: 2;**/
    
    grid-column-start: 2;
    object-fit:contain;
    padding: 5px;
    align-self: center;
   }

   .row2 {
    grid-column-start: 3;
    /*grid-row-start: span 3;/***/
    align-self: center;
    object-fit:cover;
    padding: 5px;
   }

   .row3 {
    grid-column-start: 4;
    grid-row-start: 2 / span 3;
    object-fit:contain;
    padding: 5px;
    align-self: center;
   }
   .row4 {
    grid-column-start: 5;
    grid-row-start: 2 / span 3;
    object-fit:contain;
    padding: 5px;
    align-self: center;
   }

    @media only screen and (max-width:700px) {
        .art-grid {
            display: grid;
            grid-template-rows: 15% 20% 60% 5%;
            grid-template-columns:5% 90% 5%;
            padding-top: 50px;
        }
    
        .pdf-art1 {
            display: grid;
            grid-row-start: 3;
            justify-content: center;
            padding-top: 100px;
            width: 100%;
            height: 200%;
    
        }
        .discription {
            grid-column-start: 2;
            grid-row-start: 2;
            padding-top: 100px;
        }
        
    }


/* CONTACT PAGE**/
.contact-grid {
    display: grid;
        grid-template-columns: 15% 80% 5%;
        grid-template-rows: auto auto;
        padding-top: 50px;
}

.email {
    grid-row-start: 1;
    grid-column-start: 2;
    padding-right: 150px;
    padding-top: 140px;
    text-align: center;
    font-size: 50px;
}

.contact-logos {
    grid-row-start: 2;
    grid-column-start: 2;
    padding-right: 150px;
    text-align: center;
    font-size: 30px;
}

.contact-logos img {
    height: 200px;
    width: 200px;
    
}

@media only screen and (max-width:700px) {
    .contact-grid {
        display: grid;
            grid-template-columns: auto 90% auto;
            grid-template-rows: auto auto;
            padding-top: 50px;
    }
    
    .email {
        grid-row-start: 2;
        grid-column-start: 2;
        padding-right: 0px;
        padding-top: 0px;
        text-align: center;
        font-size: 30px;
    }
    
    .contact-logos {
        grid-row-start: 3;
        grid-column-start: 2;
        padding-right: 0px;
        text-align: center;
    }
    
    .contact-logos img {
        height: 100px;
        width: 100px;
        
    }
}

 
  
  
   