.regular {
    background-color: #FDF1E6;
}


.logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
    font-family: dashiell-fine, serif;
    font-style: normal;
    color: rgb(204, 229, 199);
  }

p {

    font-family: dashiell-fine, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 36px;
    color: rgb(204, 229, 199);
}

h1 {
    font-family: 'Dashiell-Fine';
    font-style: normal;
    align-content: center;
    font-size: 64px;
    line-height: 78px;
    color: rgb(204, 229, 199);
}

h2 {
    font-family: 'Dashiell-Fine';
    font-style: normal;
    font-size: 24px;
    line-height: 58px;  
}

a {
    font-family: 'Dashiell-Fine';
    font-style: normal;
    font-size: 12px;
    line-height: 50px;
    color: #FDF1E6;
}

nav {
    background-color: #FDF1E6;
    padding: .5em;
    top: 0;
    position: sticky;
}


.inverted p {
    text-indent:35%;
}
.inverted p, h1, h2 {
    color: #FDF1E6;
    
}

.regular p, h1, h2 {
    color: #3B4E3D;
}

.inverted a:hover {
    color: rgb(204, 229, 199);
}


  