body {
    background-color: #3B4E3D;
    color: #FDF1E6;
    margin: 0;
    font-family: dashiell-fine, serif;
    font-style: normal;
    display: grid;
  }

  article {
    margin-top: 100px;
    font-size: 16pt;
  }

  .bodya {
    font-style: normal;
    color: rgb(204, 229, 199);
  }

 
  .logo {
    font-size: 250%;
    padding: 35px 25px;
    margin: 0 auto;
    position: sticky;
    text-align: center;
    background-color: #FDF1E6;
    color:#3B4E3D;
    grid-column-start: 1;

  }
  
  .grid {
    margin: 0;
    margin-left: 250px;
    padding: 0 20px;
    max-width: 980px;
    display: grid;
   
    gap: 20px;
    padding: 50px;
  }


  .nav {
    padding: 20px;
    left: 0;
    position: fixed;
    float:left;
    display: grid;
    margin-top: 20px;
  }
  
  .navul {
    margin: 0;
    list-style: none;
    display: grid;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    transform: translate(0, 50%);
    font-size: 16pt;


  }
  
  .navimg {
    width: 20%;
    height: 20%;
    display: grid;
    float: left;
    margin-right: 20px;
}

  .nava  {
    color: #FDF1E6;
    
  }

  .nava :hover{
    color:rgb(204, 229, 199);
    text-decoration:none;
    
  }

  .navpages {

  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; /* repeat(2,200px);**/
    column-gap: 1px;
    
  }

  .homepage {
    margin: 0;
    list-style: none;
    
  }

  .homepagegrid {
    display: grid;
    grid-template-columns: 10% 60% 20% 10%;
    grid-template-rows: 20% 80%;
  }
  .homeimg {
    grid-column-start: 2;
    padding-top: 50px;
    padding-right: 50px;
    width: 100%;
    
    
  }
  .homenav {
    display: grid;
    grid-column-start: 3;
    margin: 0;
    list-style: none;
    display: grid;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    transform: translate(0, 50%);
    font-size: 16pt;
    color: #FDF1E6;
    list-style: none;

  }
img {
    width: 100%;
}

@media only screen and (max-width:700px) {

    .homepagegrid {
    
    grid-template-rows: 5% auto auto 5%; 
    }
    .homeimg {
        grid-row-start: 2;
        padding: 20px;
        width: 100%
    
        
      }
    .homenav {
        display: grid;
        grid-row-start: 3;

}
}
  